/*body {
background-color: white;
background: radial-gradient(orange);
}*/

/*body {
background-color: white;
background: radial-gradient(orange);
}*/
/************************
variables
************************/
$back-color: #000000;
$white: #FFF;
$clemson: #F66733;

/************************
Body Styles
************************/
body{
  font-family: 'Bonbon', cursive;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: gray;
  height: 100%;
  // background-size: cover;
  // background-repeat: no-repeat;

}

/************************
Clock Style
************************/
header {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 60px;
  color: $white;
  margin-top: 18%;
  text-shadow: 4px 4px 10px #522D80;
}
h1 {
  margin-top: 3%;
  font-size: 80px;
  text-align: center;
  color: $white;
  text-shadow: 10px 10px 20px #522D80;

  &:hover {
    color: #F66733;
    text-shadow: 10px 10px 20px $white;
  }
}



.hours::after, .minutes::after {
  content: ":";
  padding-left: 40px;
}

#timer-bar {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1px;
  // margin-bottom: 400px;
  text-align: center;
  border-radius: 5px;
  line-height: 0.3em;
  background-color: $white;
  box-shadow: 4px 4px 10px #522D80;
}
